<div class="limiter">
  <div class="container-login100">
    <form class="login100-form2 validate-form" #forgetForm="ngForm" (ngSubmit)="(forgetForm.valid && onSubmit(forgetForm))">
      <div class="login100-form-title">

        <!-- Error alert !-->
        <div class="col-lg-12 col-md-12">
          <div class="message-alert d-none" style="font-size: 15px;"></div>
      </div>
      <!-- End Error alert !-->

        <img src="assets/images/logo1.png" alt="" class="mb-4" style="width: 60px; height: 60px;" />
        <h4 class="mb-3" style="font-size: 18px !important;">Reset Password</h4>
    </div>
      <div class="form-group mb-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput name="email" #email="ngModel" type="text"
              [(ngModel)]="authService.selectedUser.email" required>
          <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      </div>
      <div class="container-login100-form-btn" style="display: block !important;">
        <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
          Reset My Password
        </button>
      </div>
      <!-- <div class="w-full p-t-25 text-center">
        <div>
          <a routerLink="/authentication/signin" class="txt1">
            Login
          </a>
        </div>
      </div> -->
    </form>
  </div>
</div>